<!DOCTYPE html>
<html ng-app='angApp'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = "/lib/angular.min.js"></script>
    <script src = "/lib/angular-route.min.js"></script>
    <script src = "/client/angApp.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
