<!DOCTYPE html>
<html ng-app='angApp'>
  <head>
    <title><%= title %></a></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = '/lib/angular.min.js'></script>
    <script src = '/lib/angular-route.min.js'></script>
    <script src = '/client/angApp.js'></script>
    <script src = '/client/appControllers.js'></script>
    <script src = '/client/testData.js'></script>
  </head>
  <body>
    <h1><a href="#"><%= title %></a></h1>

    <div class = 'main'>

      <div ng-view></div>

    </div>

  </body>

</html>
