<!DOCTYPE html>
<html ng-app='angApp'>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Almendra:700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = '/lib/angular.min.js'></script>
    <script src = '/lib/angular-route.min.js'></script>
    <script src = '/lib/ui-bootstrap-tpls-0.10.0.min.js'></script>
    <script src = '/client/angApp.js'></script>
    <script src = '/client/appControllers.js'></script>
    <script src = '/client/appDiscoverCtrl.js'></script>
    <script src = '/client/appFactories.js'></script>
    <script src = '/client/appServices.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <div class="header">
        <h1 id="logo"><a href="#/home">BingeGuru</a></h1>
        
    </div>

    <div class = 'main'>

      <div ng-view></div>

    </div>

    <div class="footer">
    <br><br>
    <ul class="footer ">
      <li><a href="#/about">About</a></li>
      <li><a href="https://twitter.com/home?status=I%20planned%20my%20next%20TV%20binge%20marathon%20with%20BingeGuru!%20http://www.bingeguru.com/%20">Tweet This!</a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=bingeguru.com">Share on Facebook</a></li>
      <li>Made at <a href="http://hackreactor.com">Hack Reactor</a>!</li>
    </ul>
  </div>

  </body>
</html>
