body {
    background: #eee;
    /*text-align: center;*/
    padding: 0 25px;
    font-family: arial, sans-serif;
}

.main {
    width: 100%;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

.discover{
  width: 500px;
  height: 150px;
  background-color: orange;
  margin: 5px;
}

.find{
  width: 500px;
  height: 50px;
  background-color: orange;
  margin: 5px;

}

a{
  text-decoration: none;
  color: #000;
}

.showImage{
  max-width: 100px;
  max-height: 100px;
}

.findImage{
  max-width: 300px;
  max-height: 300px;
}

