body {
    background: #eee;
    /*text-align: center;*/
    padding: 0 25px;
    font-family: arial, sans-serif;
}

.main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

.discover{
  width: 150px;
  height: 150px;
  background-color: red;
}

.find{
  width: 150px;
  height: 150px;
  background-color: red;
}
