<div class = "container well">
<img src="https://avatars1.githubusercontent.com/u/5505022?s=140">
<img src="https://avatars2.githubusercontent.com/u/5633015?s=140">
<img src="https://avatars2.githubusercontent.com/u/81279?s=140">
<img src="https://avatars1.githubusercontent.com/u/6043455?s=140">

</div>

<div class = "container text">
This project was conceived and created by 4 students at <a href="http://hackreactor.com/">Hack Reactor</a> during a short project period.<br>
It serves primarily to showcase and allow us to expand upon on our knowlege of full stack development.<br>
This site was developed with the <a href="http://blog.mongodb.org/post/49262866911/the-mean-stack-mongodb-expressjs-angularjs-and">MEAN stack</a>.<br>
</div>
