<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<div class="container mainwrapper">
  <div class="col-md-12" ng-controller="ButtonsCtrl">

    <!-- filter area -->
    <div class="row"> 
      <div class="col-md-12">
        <div class="welcome">
          <h1 class="lookingFor">Searching For <span class="selectedFilter homePageFilter">{{runtimeModel}}</span> <span class="selectedFilter homePageFilter">{{genresModel}}</span> Shows</h1>
        </div>  
      </div>
      <div class="col-md-12 homeFilterArea">
        <h3 class="filterLabels"> <!-- Genres --></h3>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'All'">ALL</button>
          <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Comedy'">COMEDY</button>
          <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Drama'">DRAMA</button>
          <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Crime'">CRIME</button>
          <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Action'">ACTION</button>
          <button typea"button" class="btn btn-default" ng-model="genresModel" btn-radio="'Adventure'">ADVENTURE</button>
          <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Fantasy'">FANTASY</button>
          <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Family'">FAMILY</button>
          <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Thriller'">THRILLER</button>
        </div>
        <h3 class="filterLabels"> <!-- Episode Length --></h3>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-model="runtimeModel" btn-radio="'All'">ALL</button>
          <button type="button" class="btn btn-default" ng-model="runtimeModel" btn-radio="'30 min'">30 MIN</button>
          <button type="button" class="btn btn-default" ng-model="runtimeModel" btn-radio="'30 - 45 min'">30 TO 45 MIN</button>
          <button type="button" class="btn btn-default" ng-model="runtimeModel" btn-radio="'60 min'">UP TO 60 MIN</button>
        </div>
      </div>
      <div class="submit">
        <button ng-click="submitFind()" type = "button" class=".btn-block btn btn-success">FIND SHOWS</button>
      </div>
    </div>
    
    <!-- search area -->
    <h3 style="text-align: center" class="or">or</h3>
    <div id="searchWrapper">
      <div class="form-group">
        <form ng-submit="submitSearch(selected)">
          <input type="text" ng-model="selected" placeholder="Search..." typeahead="state for state in showNames | filter:$viewValue | limitTo:8" class="form-control"><br>
          <button ng-click="submitSearch(selected)" type = "button" class="btn-large btn btn-success searchButton">SEARCH</button>
        </form>
      </div>
    </div>

    <hr>

    <!-- carousel -->
    <h3 style="text-align: center" class="popular">POPULAR SHOWS TO BINGE</h3>
    <div class="carousel">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in data" active="slide.active">
          <div class="row" >
            <div>
              <img ng-src="{{slide.poster}}" style="float: left; padding: 10px 40px; max-height: 250px; margin-top: 20px; max-width 300px" ng-click="getShowInfo(slide)">
            </div>
            <div class="sliderText">
              <h3 class="slideName">{{slide.name}}</h3>
              <div class="body-override"><span class="slideTitles">Binge Time: </span>{{slide.bingeHours}} hours {{slide.bingeMins}} minutes</div><br>
              <div class="body-override" ng-click="getShowInfo(slide)"><span class="slideTitles">Summary: </span>{{slide.overview}}</div><br>
              <button type="button" class="btn btn-default" ng-click="getShowInfo(slide)">More Info</button>
            </div>
          </div>
        </slide>
      </carousel>
    </div>

  </div>
</div>

<a href="http://hackreactor.com"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://i.imgur.com/x86kKmF.png" alt="Built at Hack Reactor"></a>
