<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
>
</script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
>
</script>
<h1 id="tagline">Decide Which Shows to Watch</h1>
<div class="welcome transparent">
  
  <div class="b"><h4>What kind of show?</h4>
    <div class="glyph" ><span class="glyphicon glyphicon-film" style="font-size:100px;"></span></div>
  </div>
  <div class="b"><h4>How much time does it take?</h4>
    <div class="glyph"><span class="glyphicon glyphicon-time" style="font-size:100px;"></span></div>
  </div>
  <div class="b"><h4>Where can I watch it?</h4>
  <img class='networkImage' src='../images/amazon.jpeg'><img class='networkImage' src='../images/hulu.jpeg'><img class='networkImage' src='../images/itunes.jpeg'><img class='networkImage' src='../images/netflix.jpeg'>
  </div>
  <div class="b"><h4>How much would it cost?</h4>
      <div class="glyph"><span class="glyphicon glyphicon-usd" style="font-size:100px;"></span></div>
  </div>
</div>
<div class="container mainwrapper">
    <div class="col-md-12" ng-controller="ButtonsCtrl">
      <div class="row">
        
        <div class="col-md-5">
          <div class="welcome">
            <h1>&nbsp; I'm looking for ...</h1>
            <hr>
            <h3 class="labelFilter">Genres: <span class="selectedFilter">{{genresModel}}</span></h3>
            <h3 class="labelFilter">Episode Runtime: <span class="selectedFilter">{{runtimeModel}}</span></h3>
            <h3 class="labelFilter">Watchable on: <span class="selectedFilter"></span></h3>
          </div>
          
          </div> <!-- row -->
          
          <div class=col-md-7>
            <h3 class="filterLabels">Genres</h3>
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'All'">ALL</button>
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Comedy'">Comedy</button>
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Drama'">Drama</button>
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Crime'">Crime</button>
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Action'">Action</button>
            </div>
            
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Adventure'">Adventure</button>
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Fantasy'">Fantasy</button>
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Family'">Family</button>
              <button type="button" class="btn btn-default" ng-model="genresModel" btn-radio="'Thriller'">Thriller</button>
            </div>
            <h3 class="filterLabels">Episode Length</h3>
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="runtimeModel" btn-radio="'All'">ALL</button>
              <button type="button" class="btn btn-default" ng-model="runtimeModel" btn-radio="'30 min'">30 min</button>
              <button type="button" class="btn btn-default" ng-model="runtimeModel" btn-radio="'30 - 45 min'">30 to 45 min</button>
              <button type="button" class="btn btn-default" ng-model="runtimeModel" btn-radio="'60 min'">Up to 60 min</button>
            </div>
            <h3 class="filterLabels">Online Streaming</h3>
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="providerModel.All" btn-checkbox>ALL</button>
              <button type="button" class="btn btn-default" ng-model="providerModel.hulu" btn-checkbox>Hulu</button>
              <button type="button" class="btn btn-default" ng-model="providerModel.netflix" btn-checkbox>Netflix</button>
              <button type="button" class="btn btn-default" ng-model="providerModel.amazon" btn-checkbox>Amazon</button>
            </div>
            
            </div><!-- col 7 -->
            
          </div>
          <hr>
          <div class="submit">
            <button ng-click="submitFind()" type = "button" class="btn-large btn btn-success">FIND SHOWS</button>
            
          </div>
          <h3 style="text-align: center">Or</h3>
          <div id="searchWrapper">
            <div class="form-group">
              <input type="text" class="form-control search" placeholder="Search...">
              <h4 style="text-align: center; text-decoration: underline; color: blue"><a href=""></a>Search</h4>
                <hr>
                <h3>Popular Shows to Binge</h3>
                <div class="carousel">
                  <carousel interval="myInterval">
                    <slide ng-repeat="slide in data" active="slide.active">
                      <div class="row" ng:click="open()">
                        <div>
                          <img ng-src="{{slide.poster}}" style="float: left; padding: 10px 40px; max-height: 250px; margin-top: 20px; max-width 300px">
                        </div>
                        <div class="sliderText">
                          <h3>{{slide.name}}</h3>
                          <h4>Epsiode Length: {{slide.runtime}}</h4>
                        </div>
                      </div>
                    </slide>
                  </carousel>
                </div> 
              </div><!-- // carousel and search wrapper -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row welcome supplementInfo">
    <div class="col-md-6">
      <h2>Fun Facts</h2>
    </div>

    <div class="col-md-6">
      <h2>Reviews</h2>
    </div>
    
  </div>
  <div class="footer">

    <ul class="footer ">
      <li>Contact</li>
      <li>About</li>
      <li>Tweet This</li>
      <li>Hack Reactor</li>
    </ul>
  </div>