
<div ng-controller="showDetailCtrl">
      <h2> {{data.name}}</h2></div> 
      <p> (year){{data.year}}</p> 
      <div>

      <img class='detailPoster' src={{data.poster}}>
      <div>
      <p>Network: {{data.network}}</p>
      <p>Rating:   {{data.ratings}} /100  </p> 
      <p>Total # of Seasons:   {{data.totalSeasons}} </p> 
      <p>Total # of Episodes:   {{}} </p> 
      <p>Runtime:   {{data.runtime}} min/episode  </p> 

      <p>Summary: {{data.overview}}</p> 
      </div>


      <p><a href = 'http://www.netflix.com'><img class='modalBrand' src = '../../images/netflix.jpeg'></a>
      <a href = "http://www.amazon.com/s?url=search-alias%3Daps&field-keywords={{data.title}}"><img class='modalBrand' src = '../../images/amazon.jpeg'></a>
      <a href = 'http://www.hulu.com/search?q={{data.title}}'><img class='modalBrand' src = '../../images/hulu.jpeg'></a>
      <a href = 'http://itunes.com'><img class='modalBrand' src = '../../images/itunes.jpeg'></a></p>
      </div> 


      <div class='modal-footer'>
      <button class='btn btn-primary' ng-click=''>DONT CLICK THIS YET</button>
      </div>